@charset "UTF-8";
.board {
  transform: rotate(45deg);
  position: relative;
  margin-top: 150px;
  margin-left: 150px;
  /* Marge à gauche pour éviter d'être caché par la navbar */
  width: 400px;
  height: 400px;
  padding: 10px;
  background-image: url("../img/chess_corner_board.png");
}

.square {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0%;
  margin: 0%;
}

.piece {
  transform: rotate(-45deg);
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0%;
  padding-top: 7px;
  margin-right: 0px;
  margin-left: 0px;
}

#black-rook1 {
  top: 50px;
  left: 0px;
}

#black-knight1 {
  top: 100px;
  left: 0px;
}

#black-bishop1 {
  top: 100px;
  left: 50px;
}

#black-queen {
  top: 50px;
  left: 50px;
}

#black-king {
  top: 0px;
  left: 0px;
}

#black-bishop2 {
  top: 0px;
  left: 100px;
}

#black-knight2 {
  top: 50px;
  left: 100px;
}

#black-rook2 {
  top: 0px;
  left: 50px;
}

#black-pawn1 {
  top: 150px;
  left: 0px;
}

#black-pawn2 {
  top: 0px;
  left: 150px;
}

#black-pawn3 {
  top: 100px;
  left: 100px;
}

#black-pawn4 {
  top: 100px;
  left: 150px;
}

#black-pawn5 {
  top: 150px;
  left: 50px;
}

#black-pawn6 {
  top: 50px;
  left: 150px;
}

#black-pawn7 {
  top: 150px;
  left: 100px;
}

#black-pawn8 {
  top: 150px;
  left: 150px;
}

#white-rook1 {
  top: 350px;
  left: 300px;
}

#white-knight1 {
  top: 300px;
  left: 250px;
}

#white-bishop1 {
  top: 350px;
  left: 250px;
}

#white-queen {
  top: 300px;
  left: 300px;
}

#white-king {
  top: 350px;
  left: 350px;
}

#white-bishop2 {
  top: 250px;
  left: 300px;
}

#white-knight2 {
  top: 250px;
  left: 350px;
}

#white-rook2 {
  top: 300px;
  left: 350px;
}

#white-pawn1 {
  top: 350px;
  left: 200px;
}

#white-pawn2 {
  top: 250px;
  left: 250px;
}

#white-pawn3 {
  top: 200px;
  left: 350px;
}

#white-pawn4 {
  top: 200px;
  left: 300px;
}

#white-pawn5 {
  top: 200px;
  left: 250px;
}

#white-pawn6 {
  top: 200px;
  left: 200px;
}

#white-pawn7 {
  top: 250px;
  left: 200px;
}

#white-pawn8 {
  top: 300px;
  left: 200px;
}